::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #426bff;
}
::-webkit-scrollbar-track {
  background: #919191;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #919191;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Removing arrows from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.container_form{
  padding: 3% 20%;  
}
.formulario {
  margin: 0 auto;
}

.formulario_input {
  padding: 20px 10px;
}

.input-group-text {
  padding: 1.25rem 1.5rem;
}

input.form-control {
  padding: 1.25rem 1rem;
  font-size: 18px;
}

.line_break {
  color: gray;
  height: 2px !important;
  margin: 20%;
}

.boton{
  text-align: center!important;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}

input.btn {
  padding: 10px 20px;
  font-size: 18px;
}

.title_center {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

a:hover {
  color: #d1ddff!important;
  transition: 0.8s;
}

.edit_grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.footer_name {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0!important;
}

.container_names {
  background-color: var(--staedtler-blue);
  padding: 1%;
}

.thank-u {
  background-color: rgba(0, 128, 0, 0.808);
  margin: 0 auto;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 700;
  display: none;
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
}

.follow {
  background: rgb(255,198,89);
  background: linear-gradient(62deg, rgba(255,198,89,1) 0%, rgba(255,94,94,1) 100%);
  border: 1px orange;
}

#deseguir {
  display: none;
}
.follow:hover {
  color: rgb(207, 207, 207);
}

.results_search {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px 0px 50px;
}
.results_producto {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px 10px;
  box-shadow: 3px 5px 10px #00000008;
}

.results_image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
}

.results_image img {
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.descripcion_producto {
  font-size: 13px;
  padding: 5px 0px 5px 20px;
}

.results_info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.results_nombre_producto {
  font-size: 25px;
  text-transform: capitalize;
  align-items: center;
  padding: 5px 10px 5px 20px;
}

.conocer_mas {
  margin: 10px 20%;
}

#not_found {
  margin: 0 auto;
  background-color: rgba(255, 115, 115, 0.247);
  border: 2px solid rgba(255, 0, 0, 0.247);
  border-radius: 10px;
  text-align: center;
}

#not_found > p {
  text-align: center;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}

.boton-by-ro {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.the_button {
  padding: 8px 20px;
  border-radius:5px;
  box-shadow: 1px 4px 9px 0px #0000002b;
  font-size: 16px;
  color: white;
  border: 2px solid  #1e5799;
  background-color:  #144c8c;
}

.the_button:hover {
  background: linear-gradient(62deg, rgb(20,76,140) 0%, rgb(19, 81, 151) 100%);
}
