<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<% if(! logueado) { %>
		<%- include('./partials/headerNotLogged')%>
		<% } else { %>
			<%- include('./partials/headerLogged')%>
			<% } %>
</head>
<body>
	
</body>	
</html>