<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/headerNotLogged')%>
</head>

<body>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 title_center">
				<h2 class="products-title">Ingres치</h2>
				<h4>Te extra침amos!! Que suerte que volviste!</h4>
			</div>
			<div class="container_form">
			<div class="input-group mb-3 col-md-6 formulario">
				<span class="input-group-text" id="basic-addon1">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
					</svg>
				</span>
				<input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" value="valudrechsler">
			</div>
			<div class="input-group mb-3 col-md-6 formulario">
				<span class="input-group-text" id="basic-addon1">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
						<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
					</svg>
				</span>
				<input type="password" class="form-control" placeholder="Constrase침a" aria-label="Contrase침a" aria-describedby="basic-addon1" value="qwerty">
			</div>
			<hr class="my-4 line_break">
				<div class="boton"> 
					<a href="/profile/"><input class="btn btn-primary" type="submit" value="Submit"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>