<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<% if(! logueado) { %>
		<%- include('./partials/headerNotLogged')%>
		<% } else { %>
			<%- include('./partials/headerLogged')%>
			<% } %></head>

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form   method="POST" class="container_form">
				<div class="input-group mb-3 col-md-6 formulario">
					<span class="input-group-text" id="basic-addon1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						  </svg>
					</span>
				 <form id="form" action="/multerPost" method="POST" enctype="multipart/form-data">
					<input name="imagen" type="file" class="form-control" placeholder="Imagen(url)"  aria-label="Usuario" aria-describedby="basic-addon1" required>
				</form>
				</div>
				<div class="input-group mb-3 col-md-6 formulario">
					<span class="input-group-text" id="basic-addon1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
							<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						  </svg>
					</span>
					<input name="nombre" type="text" class="form-control" placeholder="Nombre del producto" aria-label="Nombre del Producto" aria-describedby="basic-addon1"  required>
				</div>
				<div class="input-group mb-3 col-md-6 formulario">
					<span class="input-group-text" id="basic-addon1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
						  </svg>
					</span>
					<input name="descripcion" type="text" class="form-control" placeholder="Descripción" aria-label="descripcion" aria-describedby="basic-addon1" required>
				</div>
				
				
				<div class="boton"> 
					 <a href="/product/"><input class="btn btn-primary" type="submit" value="Submit"></a>
				</div>
			</form>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario para agregar prodcutos al catálogo. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos. <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2> -->


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>